#earthquake {
    position: absolute;
    width: 150px;
    height: 100px;
    margin-left: 670px;
    margin-top: 150px;
}

#small {
  position: absolute;
  width: 150px;
  height: 100px;
   margin-left: 470px;
  margin-top: 150px;
}

#img {
    position: absolute;
    margin-left: 550px;
    margin-top: 250px;
}
